/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background: transparent !important;
}

.card {
  @apply shadow-lg p-6 mx-4 md:mx-0;
}

.close {
  color: #aaa;
  align-self: flex-end;
  justify-self: flex-start;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
